<header class="masthead">
    <div class="overlay">
        <div *ngIf="user" class="col-xs-12">
            <div class="pull-left text-white">
                <h5>Olá: {{user.name.toLocaleUpperCase()}}</h5>
            </div>
            <div class="pull-right text-white">
                <a href="" (click)="logout()" class="btn-xs btn-danger btn">Sair</a>
            </div>
        </div>
        <div class="col-xs-12 text-center">
            <h1 class="text-warning"><b>Twitter Client</b></h1>
        </div>
    </div>
    <div>
        <app-search *ngIf="admin == true"></app-search>
        <h4 *ngIf="admin == false" class="text-white text-justify">
            Search no twitter disponível somente para o user admin.
        </h4>
    </div>
</header>

<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <app-top-followers></app-top-followers>
            </div>
            <div class="col-lg-4">
                <app-top-coutries></app-top-coutries>
            </div>
            <div class="col-lg-4">
                <app-top-hours></app-top-hours>
            </div>
        </div>
    </div>
</section>
