<header class="masthead text-white text-center">
    <div class="overlay">
        <h1 c><b>Twitter Client</b></h1>
    </div>
    <app-search></app-search>
</header>

<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <app-top-followers></app-top-followers>
            </div>
            <div class="col-lg-4">
                <app-top-coutries></app-top-coutries>
            </div>
            <div class="col-lg-4">
                <app-top-hours></app-top-hours>
            </div>
        </div>
    </div>
</section>
