<table class="table table-hover table-responsive-md table-fixed">
    <thead>
    <tr class="font-weight-bold">
        <td>Login</td>
        <td>Permissões</td>
        <td>O que pode fazer</td>
        <td>Password</td>
    </tr>
    </thead>
    <tbody>
    <tr class="text-dark">
        <td>
            admin
        </td>
        <td>
            role_admin,role_user
        </td>
        <td>
            Ver tops e Search
        </td>
        <td>
            123456
        </td>
    </tr>
    <tr class="text-dark">
        <td>
            user
        </td>
        <td>
            role_user
        </td>
        <td>
            Ver tops
        </td>
        <td>
            123456
        </td>
    </tr>
    </tbody>
</table>
