<div class="text-center features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
    <div class="features-icons-icon d-flex">
        <i class="icon-hourglass m-auto text-primary"></i>
    </div>
    <h3 class="text-success">
        Top 5
        <small>Horários</small>
    </h3>

    <div *ngIf="tops">
        <div *ngFor="let top of tops">
	    <small>as </small>
	    <strong class="text-info">{{top.name}} </strong>
	    <small>horas foram </small>
	    <strong class="text-info">{{top.size}} </strong>
	    <small>tweets </small>
        </div>
    </div>
</div>
